.product-swiper-gallery .product-gallery-layout {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.product-swiper-gallery .product-gallery-left {
    width: 100%;
    @media screen and (min-width: 1024px) {
        width: calc(50% - 1rem);
    }
}
.product-swiper-gallery .product-gallery-right {
    @media screen and (min-width: 1024px) {
        width: calc(50% - 1rem);
    }
}
.product-swiper-gallery .swiper-slide-hidden {
    display: none !important;
}
.product-swiper-gallery .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: #8a8a8a;
    --swiper-pagination-color: #8a8a8a;
    --swiper-pagination-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: visible;
}
.product-swiper-gallery .swiper-wrapper {
    display: flex;
    width: 100%;
}
.product-swiper-gallery .swiper-slide {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
.product-swiper-gallery .swiper-slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 25rem;
    @media screen and (min-width: 1024px) {
        max-height: 50rem;
    }
}
.product-swiper-gallery .swatch-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 10px;
}
.product-swiper-gallery .swatch-icon svg path {
    fill: var(--swatch-color);
}
.product-swiper-gallery .swatch-input:checked + .swatch-icon {
    border-color: #0F4C78;
}
.product-swiper-gallery .visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.product-swiper-gallery .product-form__input select {
    border: none;
    background: transparent;
    min-width: 40px;
    font-size: 20px;
}
.product-swiper-gallery .product-form__input select:focus {
    outline: none;
    box-shadow: none;
}
.product-swiper-gallery .accordion-body {
    display: none;
    padding: 10px 0;
}
.product-swiper-gallery .accordion-header {
    display: block;
    width: 100%;
    background: #f4f4f4;
    padding: 10px;
    text-align: left;
    border: none;
    cursor: pointer;
}
.product-swiper-gallery .product-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.product-swiper-gallery .product-description {
    margin-bottom: 1rem;
    color: #555;
}
.product-swiper-gallery .product-price {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.product-swiper-gallery .product-form button {
    padding: 0.8rem 1.2rem;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 300px;
}
.product-swiper-gallery .option-error {
    color: #e53935;
    font-size: 1rem;
    margin-top: 0.25rem;
}
.product-swiper-gallery .option-error-target {
    border-right: 1px solid #e53935;
}